{% extends "base.html" %}
{% load static %}

{% block title %}
    Title of book
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'book.css' %}">
    <!-- <style>
        .book_info {
            width: 70%;
            float: right;
            background-color: rgb(138, 173, 23);
        }   
    </style> -->

    <style>
        .avail_num {
            color: limegreen; 
            /* background-color: rgb(36, 46, 12); */
            width: 20%;
            float: left;
            margin-left: 5%;
            margin-top: 2.5%;
            margin-bottom: 1.5%;
        }
    </style>
{% endblock %}

{% block heading %}
    {{ book.name }}
{% endblock %}

{% block body_content %}

    <div class="book_cover">
        <img src={{img_path}} alt="book cover" width=100%>
    </div>

    <div class="book_info">

        <h1 class="book_head">{{book.name}}</h1>

        <table class="bk_table">
            <tr>
                <th>Authors : </th>
                <td>{{ book.authors }}</td>
            </tr>
            <tr>
                <th>Genre : </th>
                <td>{{ book.genre }}</td>
            </tr>
            <tr>
                <th>Published on : </th>
                <td>{{ book.publi_date }}</td>
            </tr>
            <tr>
                <th>Read by : </th>
                <td>{{ book.n_read }} users</td>
            </tr>
        </table>

        <div class="extra">
            <a href="#description">
                <p id="desc_b">Description</p>
            </a>

            <a href="#comments">
                <p id="rev_b">Reviews</p>
            </a>
        </div>
    </div>

    <div class="book_ord">
        {% if book.available != 0 %}
            {% if stat == '' %}
                <form action="." method="post">
                    <button class="button" type="submit">RENT</button>
                </form>
                <h3 class="avail_num">{{book.available}} available</h3>
            {% else %}
                <p id="status">{{stat}}</p>
                {% if ord_id != 0 %}
                    <p id="order_id">Your Order Id is {{ ord_id }}</p>
                {% endif %}
            {% endif %}

        {% else %}
            <h3 class="no_bks" style="color: red;">currently unavalable</h3>
            <!-- <p>will be available soon</p> -->
        {% endif %}

        <a href="/book/{{pk}}">
            <p id="ref_b">Refresh</p>
        </a>

    </div>

    <!-- <div class="desc">
        <h2>Description : </h2>
        <p id="desc_cnt"> {{ book.description }} </p>
    </div>

    <div class="cmnts">
        <h2>Comments : </h2>

        {% for c in cs %}
            <table class="cmt_table">
                <tr>
                    <th class="cmt_name">{{ c.user.name }}</th>
                    <td class="cmt_text">{{ c.comment }}</td>
                </tr>
            </table>
            <hr>
        {% endfor %}

    </div> -->

    <!-- <div class= "book"> -->

        <!-- <div class= "image">
            <img src="{{book.cover.url}}">
        </div> -->

        <!-- <div class= "detailes"> -->

           <!-- <h1>{{ book.name }}</h1>
           <h3><b>Author :</b>{{book.authors}}</h3>
           <h3><b>Published on :</b>{{book.publi_date}}</h3>
           <h3><b>Genre :</b> {{book.genre}}</h3> -->

           <!-- {% if book.n_read != 0 %}
           <h4><b>Read by:</b> {{ book.n_read }} users</h4>
           {% endif %} -->

           <!-- {% if book.availabel != 0 %}
           <h3 style="color: limegreen;">{{book.available}} available</h3>
           <h5>Rent now to get 10 days rent duration</h5>
           <a href="#"> 
            <button class="button">RENT</button>
           </a>
           {% else %}
           <h3 style="color: orange;">currently unavalable</h3>
           <h5>will be available soon</h5>
           {% endif %} -->

        <!-- </div> -->
    <!-- </div> -->

    <div id="description">
        <h2>Description</h2>
        <p>{{book.description}}</p>
    </div>

    <div id="comments">
        <h2 style="text-align: center;">Reviews</h2>
        {% if count == 0 %}
            <p style="text-align: center;">--- No Reviews Yet ---</p>
        {% else %}
            <div class="row">
                {% for cmt in cs %}
                <div class="card">
                    <b>{{cmt.user.username}}</b>
                    <p>{{cmt.comment}}</p>
                </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="add_comment">
            <form method = "post" action="#comments/">
                {% csrf_token %}
                {{form.as_p }}
                <input type="submit" value="Post">
            </form>
        </div>

    </div>

{% endblock %}