<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <style>
            .main_name {
                background-color: rgb(120, 128, 15);
                width: 40%;
                text-align: left;
            }

            .main_head {
                font-size: 60px;
                font-family: 'Courier New', Courier, monospace;
            }

        </style>
    </head>

    <body>
        <div class="main_name">
            <h1 class="main_head">WELCOME TO,</h1>
            <h1 class="main_head">GET YOUR BOOK</h1>
        </div>
    </body>

</html>