{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <style>
        .main_name {
            /* background-color: rgb(120, 128, 15); */
            width: 30%;
            text-align: right;
            margin-top: 15%;
            float: left;
        }

        .main_head {
            font-size: 60px;
            /* font-family: 'Brush Script MT', cursive; */
            color: bisque;
            margin-top: 0px;
            /* top: 0px; */
            margin-bottom: 0px;
            /* bottom: 0px; */

            /* background-color: tomato; */
        }

        body {
            background-image: url("{% static 'images/new_home.jpg' %}");
            height: 100%;
            background-size: cover;
        }

        .home_top {
            background-color: transparent;
            height: 100px;
            top: 10px;
        }

        #search_m {
            margin: 2%;
            background-color: rgb(230, 186, 134);
            font-size: 120%;
            padding: 2%;
            padding-left: 5%;
            text-align: center;
            padding-right: 5%;
            width: 50%;
            border-radius: 5px;
            margin-top: 5%;
            margin-left: 30%;
            color: black;
        }

    </style>
{% endblock %} 


{% block body_content %}
    <div class="main_name">
        <p class="main_head">Welcome to</p>
        <p class="main_head">Get Your Book</p>
        <a href="/book_main/">
            <p id="search_m">Search for our book</p>
        </a>
    </div>
    
{% endblock %}
